.form-container {
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

.form-title {
  font-weight: 400;
  margin-bottom: 20px;
}

.input-area,
.text-area {
  border: 0;
  margin: 10px;
  padding: 20px;
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
}

.error-msg {
  color: red;
  padding-left: 20px;
}

#valid-msg {
  padding-left: 20px;
  color: green;
}

#error-msg-all {
  padding-left: 20px;
  color: red;
}

.invalid-name,
.invalid-email,
.invalid-text {
  display: none;
}
